body {
    display: flex;
    align-items: center;
  }

  h1 {
    margin-bottom: 20px;
    font-family: Poppins,light, sans-serif;
    font-size: 30px;
  }

  form {
    height: auto;
    width: 45%;
    padding: 20px;
    text-align: center;
    margin: auto;
  }

  banner {
    width: 86vw;
    overflow: hidden;
    height: 100vh;
  }

  banner img {
    width: 100%;
    object-fit: inherit;
    height: inherit;
  }

  form button {
    margin-top: 20px;
  }